* text=auto

*.sh text eol=lf
*.ps1 text eol=lf
*.toml text eol=lf
*.json text eol=lf
*.csv text eol=lf
*.env text eol=lf
*.example text eol=lf
*.txt text eol=lf
*.md text eol=lf
*.js text eol=lf
*.jsx text eol=lf
*.ts text eol=lf
*.tsx text eol=lf
*.css text eol=lf
*.html text eol=lf
*.svg text eol=lf
*.rs text eol=lf
*.yml text eol=lf
*.yaml text eol=lf

*.png -text
*.icns -text
*.ico -text
*.exe -text
*.dmg -text
*.deb -text
*.AppImage -text
*.gz -text
*.zip -text
